# Question1
Load the energy data from the file Energy Indicators.xls, which is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013, and should be put into a DataFrame with the variable name of energy.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

Convert Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values.

Rename the following list of countries (for use in later questions):

"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these,

e.g.

'Bolivia (Plurinational State of)' should be 'Bolivia',

'Switzerland17' should be 'Switzerland'.



Next, load the GDP data from the file world_bank.csv, which is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame GDP.

Make sure to skip the header, and rename the following list of countries:

"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"



Finally, load the Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology from the file scimagojr-3.xlsx, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame ScimEn.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

This function should return a DataFrame with 20 columns and 15 entries.

In [61]:
def answer_one():
    import pandas as pd
    energy = pd.read_excel('Energy Indicators.xls')
    energy['Energy Supply'] = energy['Energy Supply'].apply(lambda x: x*1000000)
    GDP = pd.read_csv('world_bank.csv')
    GDP = GDP.rename(columns = {'Country Name':'Country'})
    ScimEn= pd.read_excel('scimagojr.xlsx')
    energy = energy.set_index('Country')
    ScimEn = ScimEn.set_index('Country')
    GDP = GDP.set_index('Country')
    from functools import reduce
    data_frames = [energy, ScimEn, GDP]
    df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Country'],
                                            how='inner'), data_frames)
    df_final= df_merged[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
    df= df_final.sort_values(by='Rank', ascending=True)

    return df.head(15)
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,193483,192270,1355524,927458,7.01,196,127191000000,93,19.754910,2.750000e+12,3.550000e+12,4.590000e+12,5.100000e+12,6.090000e+12,7.550000e+12,8.530000e+12,9.570000e+12,1.040000e+13,1.100000e+13
US,2,143130,139924,1551044,530169,10.84,301,90838000000,286,11.570980,1.380000e+13,1.450000e+13,1.470000e+13,1.440000e+13,1.500000e+13,1.550000e+13,1.620000e+13,1.680000e+13,1.750000e+13,1.820000e+13
Japan,3,41188,40775,357829,93375,8.69,166,18984000000,149,10.232820,4.530000e+12,4.520000e+12,5.040000e+12,5.230000e+12,5.700000e+12,6.160000e+12,6.200000e+12,5.160000e+12,4.850000e+12,4.390000e+12
UK,4,33293,32300,405816,77019,12.19,185,7920000000,124,10.600470,2.700000e+12,3.080000e+12,2.900000e+12,2.390000e+12,2.450000e+12,2.630000e+12,2.680000e+12,2.750000e+12,3.030000e+12,2.900000e+12
India,5,32064,31167,268746,87658,8.38,153,33195000000,26,14.969080,9.400000e+11,1.220000e+12,1.200000e+12,1.340000e+12,1.680000e+12,1.820000e+12,1.830000e+12,1.860000e+12,2.040000e+12,2.100000e+12
Germany,6,27966,27370,278237,59495,9.95,166,13261000000,165,17.901530,3.000000e+12,3.440000e+12,3.750000e+12,3.420000e+12,3.420000e+12,3.760000e+12,3.540000e+12,3.750000e+12,3.900000e+12,3.380000e+12
Russian Federation,7,26435,26196,68424,29544,2.59,75,30709000000,214,17.288680,9.900000e+11,1.300000e+12,1.660000e+12,1.220000e+12,1.520000e+12,2.050000e+12,2.210000e+12,2.300000e+12,2.060000e+12,1.360000e+12
Canada,8,26148,25571,395467,74112,15.12,193,10431000000,296,61.945430,1.320000e+12,1.460000e+12,1.550000e+12,1.370000e+12,1.610000e+12,1.790000e+12,1.820000e+12,1.840000e+12,1.800000e+12,1.550000e+12
France,9,19696,19214,238639,48462,12.12,152,10597000000,166,17.020280,2.320000e+12,2.660000e+12,2.920000e+12,2.690000e+12,2.640000e+12,2.860000e+12,2.680000e+12,2.810000e+12,2.850000e+12,2.440000e+12
Italy,10,18773,17987,221652,54282,11.81,135,6530000000,109,33.667230,1.940000e+12,2.200000e+12,2.390000e+12,2.190000e+12,2.130000e+12,2.280000e+12,2.070000e+12,2.130000e+12,2.150000e+12,1.830000e+12
South Korea,11,18217,17994,208150,39811,11.43,132,11007000000,221,2.279353,1.010000e+12,1.120000e+12,1.000000e+12,9.020000e+11,1.090000e+12,1.200000e+12,1.220000e+12,1.310000e+12,1.410000e+12,1.380000e+12
Iran,12,15614,15334,160505,51493,10.28,108,9172000000,119,5.707721,2.660000e+11,3.500000e+11,4.060000e+11,4.140000e+11,4.870000e+11,5.840000e+11,5.990000e+11,4.670000e+11,4.340000e+11,3.860000e+11
Brazil,13,15332,15132,118483,28818,7.73,109,12149000000,59,69.648030,1.110000e+12,1.400000e+12,1.700000e+12,1.670000e+12,2.210000e+12,2.620000e+12,2.470000e+12,2.470000e+12,2.460000e+12,1.800000e+12
Australia,14,14907,14564,196567,34134,13.19,143,5386000000,231,11.810810,7.460000e+11,8.530000e+11,1.050000e+12,9.280000e+11,1.150000e+12,1.400000e+12,1.550000e+12,1.580000e+12,1.470000e+12,1.350000e+12
Spain,15,14204,13916,233955,42632,16.47,149,4923000000,106,37.968590,1.260000e+12,1.480000e+12,1.640000e+12,1.500000e+12,1.430000e+12,1.490000e+12,1.340000e+12,1.360000e+12,1.380000e+12,1.200000e+12

# Question 2
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

This function should return a single number.

In [3]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [5]:
def answer_two():
    return int("2")
    answer_one()
answer_two()

2

# Question 3
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [12]:
def answer_three():
    import numpy as np
    import pandas as pd
    df15 = answer_one()
    dfgdp= pd.DataFrame(df15, columns= ['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015'])
    dfgdp['avgGDP']= np.mean(dfgdp,axis=1)
    avgGDP= dfgdp.sort_values(by= 'avgGDP', ascending = False)
    avgGDP1 = avgGDP['avgGDP']
    return avgGDP1
answer_three()

Country
US                    1.566000e+13
China                 6.913000e+12
Japan                 5.178000e+12
Germany               3.536000e+12
UK                    2.751000e+12
France                2.687000e+12
Italy                 2.131000e+12
Brazil                1.991000e+12
Russian Federation    1.667000e+12
Canada                1.611000e+12
India                 1.603000e+12
Spain                 1.408000e+12
Australia             1.207700e+12
South Korea           1.164200e+12
Iran                  4.393000e+11
Name: avgGDP, dtype: float64

# Question 4
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [13]:
def answer_four():
    df6 = answer_one()
    df6= df6.iloc[5]
    diff = df6['2015']-df6['2006']
    return diff
answer_four()

380000000000.0

# Question 5
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [23]:
def answer_five():
    import pandas as pd
    import numpy as np
    df15= answer_one()
    capita = pd.DataFrame(df15, columns= ['Energy Supply per capita'])
    mcapita = np.mean(capita, axis=0)
    return mcapita
answer_five()

Energy Supply per capita    157.6
dtype: float64

# Question 6
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [40]:
def answer_six():
    import pandas as pd
    df15= answer_one()
    renew = pd.DataFrame(df15, columns= ['% Renewable'])
    renewm = renew.sort_values(by = '% Renewable', ascending = False)
    country = renewm['% Renewable']
    name = country.idxmax()
    percent = country.max()
    t = (name, percent)
    return t
answer_six()

('Brazil', 69.64803)

# Question 7
Create a new column that is the ratio of Self-Citations to Total Citations. What is the maximum value for this new column, and what country has the highest ratio?

This function should return a tuple with the name of the country and the ratio.

In [38]:
def answer_seven():
    import pandas as pd
    df15 = answer_one()
    citation = pd.DataFrame(df15, columns = ['Self-citations','Citations'])
    citation['ratio']= citation['Self-citations']/citation['Citations']
    cmax= citation.sort_values( by='ratio', ascending = False)
    country = cmax['ratio']
    ratio = country.idxmax()
    percent = country.max()
    t = (ratio, percent)

    return t
answer_seven()

('China', 0.684206255293156)

# Question 8 

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [51]:
def answer_eight():
    import pandas as pd
    df15 = answer_one()
    percapita = citation = pd.DataFrame(df15, columns = ['Energy Supply','Energy Supply per capita'])
    percapita['population']= percapita['Energy Supply']/percapita['Energy Supply per capita']
    pmax = percapita.sort_values(by = 'population', ascending = False)
    country = pmax['population']
    third= (country).argsort()[:3]
    name= third.idxmin()
    return name
answer_eight()

'US'

# Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [60]:
def answer_nine():
    import pandas as pd
    df15 = answer_one()
    df15 =pd.DataFrame(df15, columns =['Energy Supply','Energy Supply per capita','Citable documents'])
    df15['population'] = df15['Energy Supply']/df15['Energy Supply per capita']
    df15['Citable docs per Capita'] = df15['Citable documents'] / df15['population']
    dfcorr = pd.DataFrame(df15, columns =['Energy Supply per capita','Citable docs per Capita'])
    corr = dfcorr.corr(method = 'pearson')
    return corr
answer_nine()

Empty DataFrame
Columns: []
Index: []

In [58]:
import pandas as pd
import matplotlib as plt
%matplotlib inline
    
df15 = answer_one()
df15['PopEst'] = df15['Energy Supply'] / df15['Energy Supply per capita']
df15['Citable docs per Capita'] = df15['Citable documents'] / df15['PopEst']
df15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

ValueError: scatter requires x column to be numeric

# Question 10 
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

This function should return a series named HighRenew whose index is the country name sorted in ascending order of rank.